[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=TeaTimer
MimeType=application/x-teatimer
Exec=tt
GenericName=Tea Timer
Comment=Simpistic steeping tea timer
Icon=TeaTimerIcon32_linux

